<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="formulario" (ngSubmit)="agregarProducto()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
      formControlName="nombre" type="text"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('nombre').invalid &&
               obtenerCampo('nombre').errors &&
               obtenerCampo('nombre').errors.required &&
               fueAlterado('nombre')
               "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('nombre').invalid &&
               obtenerCampo('nombre').errors &&
               obtenerCampo('nombre').errors.minlength &&
               fueAlterado('nombre')
        "
        > La cantidad de caracteres minima es 1</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('nombre').invalid &&
               obtenerCampo('nombre').errors &&
               obtenerCampo('nombre').errors.maxlength &&
               fueAlterado('nombre')
        "
        > La cantidad de caracteres maxima es 15</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('apellido').invalid &&
               obtenerCampo('apellido').errors &&
               obtenerCampo('apellido').errors.maxlength &&
               fueAlterado('apellido')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('apellido').invalid &&
               obtenerCampo('apellido').errors &&
               obtenerCampo('apellido').errors.minlength &&
               fueAlterado('apellido')
        "
        > La cantidad de caracteres minima es 4</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('apellido').invalid &&
               obtenerCampo('apellido').errors &&
               obtenerCampo('apellido').errors.required &&
               fueAlterado('apellido')
               "
        > La cantidad de caracteres maxima es 20</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input
        formControlName="edad"
      type="number"></ion-input>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('edad').invalid &&
               obtenerCampo('edad').errors &&
               obtenerCampo('edad').errors.required &&
               fueAlterado('edad')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('edad').invalid &&
               obtenerCampo('edad').errors &&
               obtenerCampo('edad').errors.minlength &&
               fueAlterado('edad')
        "
        > La cantidad de caracteres minima es 18</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('edad').invalid &&
               obtenerCampo('edad').errors &&
               obtenerCampo('edad').errors.maxlength &&
               fueAlterado('edad')
        "
        > La cantidad de caracteres maxima es 98</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('username').invalid &&
               obtenerCampo('username').errors &&
               obtenerCampo('username').errors.required &&
               fueAlterado('username')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('username').invalid &&
               obtenerCampo('username').errors &&
               obtenerCampo('username').errors.minlength &&
               fueAlterado('username')
        "
        > La cantidad de caracteres minima es 5</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('username').invalid &&
               obtenerCampo('username').errors &&
               obtenerCampo('username').errors.maxlength &&
               fueAlterado('username')
        "
        > La cantidad de caracteres maxima es 10</ion-note> ***
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('password').invalid &&
               obtenerCampo('password').errors &&
               obtenerCampo('password').errors.required &&
               fueAlterado('password')
        "
        > Este campo es requerido</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('password').invalid &&
               obtenerCampo('password').errors &&
               obtenerCampo('password').errors.minlength &&
               fueAlterado('password')
        "
        > La cantidad de caracteres minima es 8</ion-note>
      <ion-note
        slot="error"
        *ngIf="obtenerCampo('password').invalid &&
               obtenerCampo('password').errors &&
               obtenerCampo('password').errors.maxlength &&
               fueAlterado('password')
        "
        > La cantidad de caracteres maxima es 16</ion-note>
    </ion-item>
    </ion-item>
    <ion-item>
      <ion-button
        type="submit"
        [disabled]="formulario.invalid && !cargaArchivo">
        Guardar
      </ion-button>
    </ion-item>
  </form>
</ion-content>
